@import "../../res/css/_mixins.scss";
@import "../../res/css/_color-palette.scss";

.loginForm {
  -webkit-box-shadow: 5px 5px silver;
  -moz-box-shadow: 5px 5px silver;
  box-shadow: 5px 5px silver;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  /* минус от половины высоты */
  margin-left: -200px;
  width: 430px;
  font-size: 16px;

  i {
    margin-right: 5px;
  }

  input, button {
    font-size: 16px;
  }

  .inputWrapper {
    display: inline-grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    justify-content: flex-end;

    label {
      padding-right: 5px;
    }

    .error {
      @include theme-aware('color', 'error-color');
    }

    button {
      width: 100px;
    }
  }
}
