.addPlatformForm {
  margin-bottom: 18px;
  form {
    display: flex;

    input {
      margin-right: 10px;
    }

    button {
      padding: 0 4px;
      height: 34px;

      & + button {
        margin-left: 5px;
      }
    }
  }
}
