.containerBtable {
    width: 100%;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
    overflow: hidden;

    table {
        background-color: white;
        width: 2300px;
        font-size: 14px;
        overflow: auto;
    }

    h4 {
        margin-left: 15px;
        margin-bottom: 10px;
    }
}

.containerBack {
    margin-top: 15px;
    margin-bottom: 20px;

    button {
        width: 150px;
        height: 35px;
    }
}

.alertDangerOpAudit {
    margin-top: 20px;
    min-width: 400px;
}
