.filterForm {
    margin-top: 20px;
    padding: 10px 10px 10px 20px;
    border: 1px solid silver;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px #c0c0c0;
    -moz-box-shadow: 3px 3px #c0c0c0;
    box-shadow: 3px 3px #c0c0c0;
    display: flex;
    > form {
        margin: 0 auto;
    }

    &:hover {
        -webkit-box-shadow: 4px 4px #808080;
        -moz-box-shadow: 4px 4px #808080;
        box-shadow: 4px 4px #808080;
        border: 1px solid grey;
        transition-property: box-shadow;
        transition-duration: 0.5s;
    }

    label {
        font-weight: normal;
        margin-right: 20px;
    }

    :global {
        .input-sf {
            width: 165px;
            font-size: 15px;
            margin-left: 3px;
            border-radius: 4px !important;
        }

        .date {
            padding-top: 12px;
        }

        .input-group-addon {
            background-color: transparent;
            border: 0;
            position: relative;
            left: -35px;
            top: -3px;
            z-index: 10;
        }

        @-moz-document url-prefix() {
            .input-group-addon {
                top: -3px !important;
            }
        }
    }
}
