.platformHeader {
  display: flex;

  .addPlatformButtonWrapper {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;

    button {
      padding: 0 4px;
      height: 30px;
    }
  }
}
