@import "../../res/css/_mixins.scss";
@import "../../res/css/_color-palette.scss";

.searchFormWrapper {
    margin-top: 0;
    padding: 10px 10px;
    border: 1px solid silver;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px #c0c0c0;
    -moz-box-shadow: 3px 3px #c0c0c0;
    box-shadow: 3px 3px #c0c0c0;
    display: flex;

    &:hover {
        -webkit-box-shadow: 4px 4px #808080;
        -moz-box-shadow: 4px 4px #808080;
        box-shadow: 4px 4px #808080;
        border: 1px solid grey;
        transition-property: box-shadow;
        transition-duration: 0.5s;
    }

    .searchForm {
        display: -ms-grid;
        display: grid;
        width: 100%;
        grid-template-columns: 20fr 20fr 40fr 120px;
        -ms-grid-columns: 20fr 20fr 40fr 120px;
        justify-content: space-between;

        &.searchFormB2c {
            grid-template-columns: 20fr 20fr 120px;
            -ms-grid-columns: 20fr 20fr 120px;

            .buttonsWrapper {
                -ms-grid-column: 3;
            }
        }

        .formGroup {
            padding: 10px;
            box-shadow: 0 0 10px inset rgb(0 0 0 / 10%);
            border-radius: 5px;
            margin: 0 5px;

            &:nth-child(1) {
                -ms-grid-column: 1;
            }

            &:nth-child(2) {
                -ms-grid-column: 2;
            }

            &:nth-child(3) {
                -ms-grid-column: 3;
            }

            &:first-child {
                margin-left: 0;
            }

            input {
                width: 100%;
            }

            label {
                display: block;
                margin-bottom: 5px;
            }

            .ppInputWrapper {
                display: flex;
            }
        }

        .buttonsWrapper {
            -ms-grid-column: 4;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 5px;

            button {
                width: 100%;
            }
        }
    }

    label {
        font-weight: normal;
        margin-right: 10px;
        font-style: normal;
        margin-bottom: 0;
    }

    input {
        &.emailInput {
        }

        &.ppInput {
            margin-left: 10px;
        }
    }
}

.contact-center-ui .search-form .input-sf {
    width: 165px;
    font-size: 15px;
    margin-left: 3px;
}
