.btnPhone {
  float: left;
  background-color: #fafafa;
  padding: 3px 50px 3px 25px;
  font-size: 13px;
  border-radius: 5px 0 0 5px;
  height: 34px;
  font-weight: bold;
  color: #303030;
  border: 1px solid silver;
  margin-bottom: 10px;

  .desc {
    position: absolute;
    font-size: 9px;
    margin-top: 16px;
  }
}

.btnDanger {
  margin-right: 8px;
  opacity: 0.9;
}
