.container {
    display: flex;
    .navbarHeader {
        flex-shrink: 0;
    }
    .navbarRight {
        flex-shrink: 1;
        .navbarRightBlock {
            display: flex;
            height: 100%;
            margin-top: 0;
            align-items: center;
            .time {
                text-align: right;
                span {
                    flex-shrink: 1;
                    white-space: nowrap;
                }
            }
            .username {
                display: flex;
                align-items: center;
                margin-top: 0;
                span {
                    white-space: nowrap;
                }
            }
        }
    }
}
