@import "../../res/css/_mixins.scss";
@import "../../res/css/_color-palette.scss";

.addUserButtonWrapper {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    button {
        background: none;
        border: none;
        border-bottom: 1px dashed;
        &:hover {
            @include theme-aware("color", "color-blue");
        }
    }
}

.userBlockWrapper {
    & + .userBlockWrapper {
        border-top: 4px solid;
        margin-top: 50px;
        padding-top: 30px;
        @include theme-aware("border-color", "color-grey");
    }
    &:last-child {
        margin-bottom: 100px;
    }
}
