$themes: (
  default: (
    error-color: red,
    color-blue: blue,
    color-grey: #dddddd
  ),
  // another theme
  dark: (
    error-color: red,
    color-blue: blue,
    color-grey: #dddddd
  )
);
