html {
  font-size: 14px;
}
html body {
  font-family: Helvetica, Arial, sans-serif;
}

.message {
  margin: 0 auto;
  margin-top: 25px;
  max-width: 1200px;
}

.login-bg {
  background-color: lightgrey;
}

.contact-center-ui .tbl-content {
  margin-top: 15px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 1px;
  background-color: lightgrey;
}

.contact-center-ui .navbar-right-block {
  margin-top: 15px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .contact-center-ui .navbar-right-block {
    padding-bottom: 15px;
  }
}

.contact-center-ui .navbar-right-block a {
  color: silver;
}

.contact-center-ui .navbar-right-block a:hover {
  color: white;
}

.contact-center-ui .navbar-right-block .top-username {
  color: #efefef;
  font-size: 16px;
  font-weight: 200;
  margin-right: 35px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .contact-center-ui .navbar-right-block .top-username {
    font-size: 14px;
    font-weight: lighter;
    margin-right: 5px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .contact-center-ui .navbar-right-block .top-username {
    font-size: 12px;
    font-weight: lighter;
    margin-right: 5px;
  }
}

.contact-center-ui .navbar-right-block .top-username:hover {
  color: #ffbcad;
}

.contact-center-ui .navbar-right-block .time {
  color: #ffbcad;
  font-size: 16px;
  font-weight: 200;
  margin-right: 25px;
}

@media (max-width: 768px) {
  .contact-center-ui .navbar-right-block .time {
    font-size: 14px;
    font-weight: lighter;
    margin-right: 5px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .contact-center-ui .navbar-right-block .time {
    font-size: 12px;
    font-weight: lighter;
    margin-right: 5px;
  }
}

.contact-center-ui .search-error {
  margin-top: 30px;
}
.contact-center-ui .info-tabs {
  margin-top: 30px;
}

.contact-center-ui .reg-content {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 30px;
  width: 500px;
}

.contact-center-ui .reg-content h2 {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

.contact-center-ui .tab-content {
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-radius: 0 0 5px 5px;
  padding: 15px 0;
}

.contact-center-ui .ajax-activity-icon {
  background-image: url(../img/gears.gif);
  background-size: cover;
  float: right;
  height: 30px;
  margin-right: 15px;
  width: 30px;
}

.contact-center-ui .tbl-errors {
  padding: 5px;
  font-size: 14px;
  color: #dd0000;
  background-color: white;
}

/*---insert---*/

/* Remove outline on the forms and links */
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

/* - Remove outline on the forms and links */

.hide {
  display: none;
}

.alert-f {
  border: 1px solid red;
}

.empty-form-title {
  text-align: center;
}

.alert-f:active,
.alert-f:hover,
.alert-f:focus {
  border: 2px solid red;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-inverse .navbar-brand {
  color: #cdcdcd !important;
}

.navbar-inverse .navbar-brand:hover {
  color: #adadad !important;
}

/* Настройка datepicker */
.react-datepicker {
  display: flex;
}

.user-info-table {
  width: 100%;
}

.contact-center-ui .alert {
  margin: 0 auto !important;
}

.glyphicon-calendar {
  top: -2px !important;
}

.contact-center-ui .blocked-panel label .input-group-addon {
  background-color: transparent;
  border: 0;
  position: relative;
  left: -50px;
  z-index: 5;
  top: -2px;
}

@-moz-document url-prefix() {
  .contact-center-ui .blocked-panel label .input-group-addon {
    top: -3px !important;
  }
}

.contact-center-ui .blocked-panel .date-blocked {
  padding-top: 12px;
  width: 260px;
}

.contact-center-ui .blocked-panel .btn-temp-block {
  margin-top: 32px;
  margin-left: -70px;
  position: relative;
}

.contact-center-ui .blocked-panel .btn-del-user {
  margin-left: -70px;
  position: relative;
}

.contact-center-ui .blocked-panel input {
  font-weight: normal;
}

.contact-center-ui .blocked-panel .red-buttons {
  padding-top: 10px;
}

.contact-center-ui .blocked-panel .input-sf {
  width: 205px;
  font-size: 15px;
  margin-left: 3px;
}

.contact-center-ui .lock-but {
  margin-top: 10px;
  margin-bottom: 25px;
}

.navbar-inverse {
  border-radius: 0 !important;
}

.parent-spinner {
  width: 100%;
  height: 100%;
  background-color: silver;

  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 1000;
  opacity: 0.3;
  display: none;
}

.on-2-factor {
  color: #54bddc;
  cursor: pointer;
}

.off-2-factor {
  color: silver;
  cursor: pointer;
}

.factor-on-td {
  width: 284px;
}

.factor-error {
  color: red;
}

.spinner-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 99999;
  background: rgba(200, 200, 200, 0.5);
}

.spinner {
  width: 50px;
  height: 50px;
  background-color: #102030;

  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -40px;

  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.overflow-scroll {
  overflow: hidden !important;
  padding-right: 17px;
}
