.platformHeader {
  display: flex;

  .addPlatformButtonWrapper {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;

    button {
      padding: 0 4px;
      height: 30px;
    }
  }
}

.usersTable {
  font-size: 12px;
  padding: 0;
  width: 100%;

  table td {
    padding: 10px;
  }

  h5 {
    padding-top: 0;
    padding-left: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  i {
    min-width: 30px;
  }
}
